<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">User List</title>
</head>
<body>
<h1>Lista de Usuarios</h1>
<div th:if="${users.isEmpty()}">
    <p>No hay usuarios en la lista</p>
</div>
<table th:if="${!users.isEmpty()}">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.email ?: 'No tiene email'}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
